<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teach</title>
    <style type="text/css">
        .outer_class {
            width: 200px;
            height: 100px;
            border: 1px crimson solid;
        }
        .inner_class {
            width: 150px;
            height: 20px;
            border: 1px blue solid;
            margin: 10px 20px;
        }
        .outer_class .inner_class {
            color: green;
        }



    </style>
    <link type="text/css"  rel="stylesheet" href="hello.css">
</head>
<body>
<div id="outer_id" class="outer_class div_class">
    <div id="inner_id_1" class="inner_class inner_class_1 div_class">div1</div>
    <div id="inner_id_2" class="inner_class inner_class_2 div_class">div2</div>
</div>
<p class="div_class">我是个p</p>
<div  class="inner_class">div3</div>

</body>
</html>